@media (max-width: 1145px) {
    .navbar-wrapper {
        flex-direction: column;
        height: 100%;
    }
    .navbar-wrapper > .left-column {
        order: 1;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .navbar-wrapper > .right-column {
        order: 2;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .navbar-text {
        justify-items: center;
    }

    .links-wrapper {
        justify-content: center;
        margin-bottom: 20px;
    }

    .page-container {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .page-container >.right-column{
        order: 1;
        margin-bottom: 50px;
    }

    .page-container > .left-column {
        order: 2;
    }

    .page-container > .left-column >.btn-wrapper {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }

    .footer-section {
        height: 100%
    }

    .footer-text {
        font-size: 0.8rem;
        align-items: center;
    }

    .footer > .footer-text .bold-cap-text {
        font-size: 1.2rem;
    }
}